html{
  height: 100vh;
}
body{
  margin: 0;
  height: 100vh;
}

.col-lg-12{
  height: 100px;
}

.col-sm-3{
  position: relative;
  height:max-content;
 
}
.col-5{
  width: 700px;
  flex: 50%;
  height: 100vh;
  position: relative;
}
.col-6{
  width: 700px;
  flex: 50%;
  position: relative;
  
}

h1{
    text-align: center;
}

#links{
  right: 50px;

}

img{
  height: 200px;

  vertical-align: middle;
  
}
.row {
  display: flex;
  flex-wrap: wrap;
  
}

.card-img-overlay{
  color: white;
}

card{
  vertical-align: middle;
}